<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0809e2cc-8ea8-493f-b9ce-f51d11fbdcef" Alias="Enter your first name" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">ادخل الاسم الاول</Translation>
    <Translation Language="en-US">Enter your first name</Translation>
  </Translations>
</Dictionary>