<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="342b3ed9-c996-4c29-97e1-c7d3f6bd460d" Alias="FIRST NAME" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-SA">الاسم الاول</Translation>
    <Translation Language="en-US">FIRST NAME</Translation>
  </Translations>
</Dictionary>