<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da93b3f1-ca4e-4f0c-8218-8dff9f638eff" Alias="Activity Item - endDate - Date Picker" Level="1">
  <Info>
    <Name>Activity Item - endDate - Date Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DatePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "format": "YYYY-MM-DD HH:mm:ss"
}]]></Config>
</DataType>