<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dbc995c3-e4dd-4cb3-a7ce-63e8d1b7446c" Alias="Activity Item - startDate - Date Picker" Level="1">
  <Info>
    <Name>Activity Item - startDate - Date Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DatePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "format": "YYYY-MM-DD HH:mm:ss"
}]]></Config>
</DataType>