<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a008261c-9c8f-48b9-9a77-2c839a0ec2cb" Alias="News Item - Date - Date Picker" Level="1">
  <Info>
    <Name>News Item - Date - Date Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DatePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "format": "YYYY-MM-DD"
}]]></Config>
</DataType>