<?xml version="1.0" encoding="utf-8"?>
<Media Key="da68d650-8c9f-4182-8dc1-42952dc4d515" Alias="Dalat logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DalatLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-20T21:37:42</CreateDate>
    <NodeName Default="Dalat logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/12oc21hw/dalat-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>