<?xml version="1.0" encoding="utf-8"?>
<Media Key="5394cc1b-b84b-45ed-9912-892722a4d8eb" Alias="licensed-image.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/licensedImagejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-14T22:30:32</CreateDate>
    <NodeName Default="licensed-image.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sqdnfzjc/licensed-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>