<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3bd268a-d75c-4373-91ec-9399c3123b99" Alias="web-انجازات-09.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/web09png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-22T12:06:14</CreateDate>
    <NodeName Default="web-انجازات-09.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/axwpwfjv/web-\u0627\u0646\u062C\u0627\u0632\u0627\u062A-09.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>