<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4b8eb7d-c8f2-4a54-9746-22488ba20619" Alias="Apply for a Job - Forms - Form Picker" Level="1">
  <Info>
    <Name>Apply for a Job - Forms - Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>