<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2af45301-b741-4dfc-a2bc-8a6c53c1ed66" Alias="Date Picker Apply" Level="1">
  <Info>
    <Name>Date Picker Apply</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DatePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "format": "YYYY-MM-DD HH:mm:ss"
}]]></Config>
</DataType>