<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="46a4632d-132a-49e0-86e7-8447174fe865" Alias="applyForAJob" Level="3">
  <Info>
    <Name>Apply for a Job</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Join+Us</Folder>
    <Compositions>
      <Composition Key="51edbe3a-372b-476c-ab7d-3139bf03c010">common</Composition>
      <Composition Key="659621c9-a2fb-4fb5-8888-e9a0fcf11d35">form</Composition>
      <Composition Key="9483631a-e789-4fa6-9a80-c6e7d95c0312">xMLSitemapSettings</Composition>
    </Compositions>
    <DefaultTemplate>applyForAJob</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="982acf80-a95b-4e3a-bfee-0653fff654d9">applyForAJob</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>