<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e91d5d06-402c-41dd-87b2-57aee2ccfc93" Alias="indexPage" Level="1">
  <Info>
    <Name>IndexPage</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>IndexPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f4da372e-21f4-43e4-b0fe-b10e76ddd655">IndexPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="46a4632d-132a-49e0-86e7-8447174fe865" SortOrder="0">applyForAJob</ContentType>
    <ContentType Key="6fe453dc-499b-439f-94b2-1161dd2a0180" SortOrder="1">applyForAStudent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>