<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9483631a-e789-4fa6-9a80-c6e7d95c0312" Alias="xMLSitemapSettings" Level="3">
  <Info>
    <Name>XMLSitemapSettings</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Main+Settings/XML+Sitemap</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b8a1a1b4-c882-46c2-9fa8-4dfc197a2d43</Key>
      <Name>Hide From Xml Sitemap</Name>
      <Alias>hideFromXmlSitemap</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="xmlSitemapSettings">XML Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dc5415b9-036c-47de-83e7-3f5398532f5d</Key>
      <Name>Search Engine Change Frequency</Name>
      <Alias>searchEngineChangeFrequency</Alias>
      <Definition>f38f0ac7-1d27-439c-9f3f-089cd8825a53</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How often the content of this page changes]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="xmlSitemapSettings">XML Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d46abee8-86a8-4559-a36a-94928c2abff3</Key>
      <Name>Search Engine Relative Priority</Name>
      <Alias>searchEngineRelativePriority</Alias>
      <Definition>5eb57825-e15e-4fc7-8e37-fca65cdafbde</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="xmlSitemapSettings">XML Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a6dba106-22ec-4912-b016-f837bae1cb6c</Key>
      <Caption>XML Sitemap Settings</Caption>
      <Alias>xmlSitemapSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>