<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1cf4455f-9ff8-42af-99c5-65cb40cc6e21" Alias="xMLSitemap" Level="3">
  <Info>
    <Name>XMLSitemap</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Main+Settings/XML+Sitemap</Folder>
    <Compositions>
      <Composition Key="51edbe3a-372b-476c-ab7d-3139bf03c010">common</Composition>
      <Composition Key="9483631a-e789-4fa6-9a80-c6e7d95c0312">xMLSitemapSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ec398041-66fd-461d-a088-87e7c315d7a6</Key>
      <Name>Excluded Document Type</Name>
      <Alias>excludedDocumentType</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sitemapConfiguration">Sitemap Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8fc1b75a-686f-4407-8127-070aeddefd74</Key>
      <Caption>Sitemap Configuration</Caption>
      <Alias>sitemapConfiguration</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>