<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d6b312c-9d0e-4b02-b291-aa2e154ab6fa" Alias="Index" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Index</Path>
    <Trashed>false</Trashed>
    <ContentType>indexPage</ContentType>
    <CreateDate>2026-06-05T21:11:40</CreateDate>
    <NodeName Default="Index">
      <Name Culture="ar-SA">Index</Name>
      <Name Culture="en-US">Index</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-SA">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="18a8762f-3e40-4520-aedb-e8f4804b22a0">index</Template>
  </Info>
  <Properties />
</Content>