<?xml version="1.0" encoding="utf-8"?>
<Content Key="0dbafa27-69b0-4f2f-b694-b28983936c04" Alias="انضم الينا" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>applyForAJob</ContentType>
    <CreateDate>2026-06-09T19:42:51</CreateDate>
    <NodeName Default="انضم الينا">
      <Name Culture="ar-SA">انضم الينا</Name>
      <Name Culture="en-US">apply Job</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar-SA">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="982acf80-a95b-4e3a-bfee-0653fff654d9">applyForAJob</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </description>
    <formDescription>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </formDescription>
    <formIcon>
      <Value><![CDATA[]]></Value>
    </formIcon>
    <formRef>
      <Value><![CDATA[8a0e0db7-2a7d-445d-845a-8e7cb1fa8471]]></Value>
    </formRef>
    <formTitle>
      <Value Culture="ar-SA"><![CDATA[انضم الينا]]></Value>
      <Value Culture="en-US"><![CDATA[Apply for a Job]]></Value>
    </formTitle>
    <headerBackgroundImage>
      <Value><![CDATA[]]></Value>
    </headerBackgroundImage>
    <hideComments>
      <Value><![CDATA[0]]></Value>
    </hideComments>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hideLatestUpdate>
      <Value><![CDATA[0]]></Value>
    </hideLatestUpdate>
    <hidePageFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hidePageFromNavigation>
    <hidePageFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hidePageFromSitemap>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageName>
      <Value Culture="ar-SA"><![CDATA[انضم الينا]]></Value>
      <Value Culture="en-US"><![CDATA[Apply for a Job]]></Value>
    </pageName>
    <pageTitle>
      <Value Culture="ar-SA"><![CDATA[انضم الينا]]></Value>
      <Value Culture="en-US"><![CDATA[Apply for a Job]]></Value>
    </pageTitle>
    <protectedByNafath>
      <Value><![CDATA[0]]></Value>
    </protectedByNafath>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <shortBrief>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </shortBrief>
    <socialMediaImage>
      <Value><![CDATA[]]></Value>
    </socialMediaImage>
    <title>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>