<?xml version="1.0" encoding="utf-8"?>
<Content Key="3aa05ad2-1f92-4cc8-9e3a-d08b4b2637be" Alias="تسجيل الطالب" Level="2">
  <Info>
    <Parent Key="6d6b312c-9d0e-4b02-b291-aa2e154ab6fa">الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>applyForAStudent</ContentType>
    <CreateDate>2026-06-20T18:44:36</CreateDate>
    <NodeName Default="تسجيل الطالب">
      <Name Culture="ar-SA">تسجيل الطالب</Name>
      <Name Culture="en-US">تسجيل الطالب</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar-SA">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="c3d4e5f6-a7b8-9012-cdef-345678901234">applyForAStudent</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </description>
    <formDescription>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </formDescription>
    <formIcon>
      <Value><![CDATA[]]></Value>
    </formIcon>
    <formRef>
      <Value><![CDATA[ab7b9938-b6d3-40c3-991d-1aef12a69269]]></Value>
    </formRef>
    <formTitle>
      <Value Culture="ar-SA"><![CDATA[تسجيل الطالب ]]></Value>
      <Value Culture="en-US"><![CDATA[تسجيل الطالب]]></Value>
    </formTitle>
    <headerBackgroundImage>
      <Value><![CDATA[]]></Value>
    </headerBackgroundImage>
    <hideComments>
      <Value><![CDATA[0]]></Value>
    </hideComments>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hideLatestUpdate>
      <Value><![CDATA[0]]></Value>
    </hideLatestUpdate>
    <hidePageFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hidePageFromNavigation>
    <hidePageFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hidePageFromSitemap>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageName>
      <Value Culture="ar-SA"><![CDATA[تسجيل الطالب]]></Value>
      <Value Culture="en-US"><![CDATA[تسجيل الطالب]]></Value>
    </pageName>
    <pageTitle>
      <Value Culture="ar-SA"><![CDATA[تسجيل الطالب]]></Value>
      <Value Culture="en-US"><![CDATA[تسجيل الطالب]]></Value>
    </pageTitle>
    <protectedByNafath>
      <Value><![CDATA[0]]></Value>
    </protectedByNafath>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <shortBrief>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </shortBrief>
    <socialMediaImage>
      <Value><![CDATA[]]></Value>
    </socialMediaImage>
    <title>
      <Value Culture="ar-SA"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>