<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f3a2b18-45c9-4e1d-9a67-b28d4c5e6f01" Alias="فعالية تجريبية بدون صورة" Level="2">
  <Info>
    <Parent Key="e0067dbb-c702-4906-9e45-fdda870e67ee">الفعاليات</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>activityItem</ContentType>
    <CreateDate>2026-07-15T01:00:00</CreateDate>
    <NodeName Default="فعالية تجريبية بدون صورة">
      <Name Culture="ar-SA">فعالية تجريبية بدون صورة</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar-SA">true</Published>
    </Published>
    <Schedule />
    <Template Key="a1000002-0002-0002-0002-000000000010">activityItem</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar-SA"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "<p>هذه فعالية تجريبية بدون صورة لاختبار ظهور شعار دالات الافتراضي.</p>"
}]]></Value>
    </bodyText>
    <endDate>
      <Value Culture="ar-SA"><![CDATA[2026-08-20T00:00:00]]></Value>
    </endDate>
    <eventLocation>
      <Value Culture="ar-SA"><![CDATA[الرياض - حي العارض]]></Value>
    </eventLocation>
    <isLocalEvent>
      <Value><![CDATA[1]]></Value>
    </isLocalEvent>
    <pageTitle>
      <Value Culture="ar-SA"><![CDATA[فعالية تجريبية بدون صورة]]></Value>
    </pageTitle>
    <startDate>
      <Value Culture="ar-SA"><![CDATA[2026-08-15T00:00:00]]></Value>
    </startDate>
    <targetAudience>
      <Value Culture="ar-SA"><![CDATA[الطالبات وأولياء الأمور]]></Value>
    </targetAudience>
  </Properties>
</Content>
